In [156]:
import pandas as pd
import requests
import os

In [157]:
app_id = os.environ["MP1_APP_ID"]
app_key = os.environ["MP1_APP_KEY"]
url_append = f'?app_id={app_id}&app_key={app_key}'

In [158]:
url_bus_ha = "https://api.tfl.gov.uk/Journey/JourneyResults/51.4700%2C%20-0.4543/to/51.5101%2C%20-0.1205?mode=bus"
url_tube_ha = "https://api.tfl.gov.uk/Journey/JourneyResults/51.4700%2C%20-0.4543/to/51.5101%2C%20-0.1205?mode=tube"

In [159]:
response_bus_ha = requests.get(url_bus_ha)
response_tube_ha = requests.get(url_tube_ha)

In [160]:
bus_journey_ha = response_bus_ha.json()
tube_journey_ha = response_tube_ha.json()

In [241]:
data = pd.DataFrame(columns=[ 'Origin', 'Origin_ll','Mode', 'ETA_Minutes', 'Destination', 'Destination_ll'])
data

Empty DataFrame
Columns: [Origin, Origin_ll, Mode, ETA_Minutes, Destination, Destination_ll]
Index: []

In [242]:
bus_list_ha = bus_journey_ha['journeys']                                              
bus_duration_ha_list = []                                                    

for bus_option in bus_list_ha:                                                  
    bus_duration = bus_option['duration']                                    
    int_bus_duration = int(bus_duration)                                        
    bus_duration_ha_list.append(int_bus_duration)                                

average_bus_duration = round(sum(bus_duration_ha_list) / len(bus_duration_ha_list))  

bus_ha = pd.DataFrame([{'Mode':'Bus', 'ETA_Minutes':average_bus_duration, 'Origin':'Heathrow Airport', 'Origin_ll': '51.4700,0.4543', 'Destination': 'Savoy Hotel', 'Destination_ll':"51.5101,0.1205"}])
data = pd.concat([data, bus_ha], axis=0)

tube_list_ha = tube_journey_ha['journeys']                                            
tube_duration_ha_list = []                                                         

for tube_option in tube_list_ha:                                               
    tube_duration = tube_option['duration']                                    
    int_tube_duration = int(tube_duration)                                      
    tube_duration_ha_list.append(int_tube_duration)                                

average_tube_duration = round(sum(tube_duration_ha_list) / len(tube_duration_ha_list))

tube_ha = pd.DataFrame([{'Mode':'Tube', 'ETA_Minutes':average_tube_duration, 'Origin':'Heathrow Airport', 'Origin_ll': '51.4700,0.4543', 'Destination': 'Savoy Hotel', 'Destination_ll':"51.5101,0.1205"}])
data = pd.concat([data, tube_ha], axis=0)

In [243]:
data

,Origin,Origin_ll,Mode,ETA_Minutes,Destination,Destination_ll
0,Heathrow Airport,"51.4700,0.4543",Bus,149,Savoy Hotel,"51.5101,0.1205"
0,Heathrow Airport,"51.4700,0.4543",Tube,70,Savoy Hotel,"51.5101,0.1205"

In [164]:
location_1_df = data[['Origin', 'Origin_ll', 'Mode', 'ETA_Minutes', 'Destination', 'Destination_ll']]
location_1_df.columns = ['Origin', 'Origin_ll', 'Mode', 'ETA_Minutes_1', 'Destination_1', 'Destination_1_ll']

In [165]:
url_bus_sh = "https://api.tfl.gov.uk/Journey/JourneyResults/51.5101%2C%20-0.1205/to/51.5055%2C%20-0.0754?mode=bus"
url_tube_sh = "https://api.tfl.gov.uk/Journey/JourneyResults/51.5101%2C%20-0.1205/to/51.5055%2C%20-0.0754?mode=tube"
url_walk_sh = "https://api.tfl.gov.uk/Journey/JourneyResults/51.5101%2C%20-0.1205/to/51.5055%2C%20-0.0754?mode=walking"
url_coach_sh = "https://api.tfl.gov.uk/Journey/JourneyResults/51.5101%2C%20-0.1205/to/51.5055%2C%20-0.0754?mode=coach"

In [166]:
response_bus_sh = requests.get(url_bus_sh)
response_tube_sh = requests.get(url_tube_sh)
response_walk_sh = requests.get(url_walk_sh)
response_coach_sh = requests.get(url_coach_sh)

In [167]:
bus_journey_sh = response_bus_sh.json()
tube_journey_sh = response_tube_sh.json()
walk_journey_sh = response_walk_sh.json()
coach_journey_sh = response_coach_sh.json()

In [168]:
location_2_df = pd.DataFrame(columns=['Origin', 'Origin_ll', 'Mode', 'ETA_Minutes', 'Destination', 'Destination_ll'])

In [244]:
bus_list_sh = bus_journey_sh['journeys']                                            
bus_duration_sh_list = []                                                         

for bus_option in bus_list_sh:                                               
    bus_duration = bus_option['duration']                                    
    int_bus_duration = int(bus_duration)                                      
    bus_duration_sh_list.append(int_bus_duration)                                

average_bus_duration = round(sum(bus_duration_sh_list) / len(bus_duration_sh_list))

bus_sh = pd.DataFrame([{'Mode':'Bus', 'ETA_Minutes':average_bus_duration, 'Origin':'Savoy Hotel', 'Origin_ll': '51.5101,0.1205', 'Destination': 'Tower Bridge', 'Destination_ll':"51.5055,0.0754"}])
data = pd.concat([data, bus_sh], axis=0)
location_2_df = pd.concat([location_2_df, bus_sh], axis=0)

tube_list_sh = tube_journey_sh['journeys']                                            
tube_duration_sh_list = []                                                         

for tube_option in tube_list_sh:                                               
    tube_duration = tube_option['duration']                                    
    int_tube_duration = int(tube_duration)                                      
    tube_duration_sh_list.append(int_tube_duration)                                

average_tube_duration = round(sum(tube_duration_sh_list) / len(tube_duration_sh_list))

tube_sh = pd.DataFrame([{'Mode':'Tube', 'ETA_Minutes':average_tube_duration, 'Origin':'Savoy Hotel', 'Origin_ll': '51.5101,0.1205', 'Destination': 'Tower Bridge', 'Destination_ll':"51.5055,0.0754"}])
data = pd.concat([data, tube_sh], axis=0)
location_2_df = pd.concat([location_2_df, tube_sh], axis=0)

walk_list_sh = walk_journey_sh['journeys']                                            
walk_duration_sh_list = []                                                         

for walk_option in walk_list_sh:                                               
    walk_duration = walk_option['duration']                                    
    int_walk_duration = int(walk_duration)                                      
    walk_duration_sh_list.append(int_walk_duration)                                

average_walk_duration = round(sum(walk_duration_sh_list) / len(walk_duration_sh_list))

walk_sh = pd.DataFrame([{'Mode':'Walking', 'ETA_Minutes':average_walk_duration, 'Origin':'Savoy Hotel', 'Origin_ll': '51.5101,0.1205', 'Destination': 'Tower Bridge', 'Destination_ll':"51.5055,0.0754"}])
data = pd.concat([data, walk_sh], axis=0)
location_2_df = pd.concat([location_2_df, walk_sh], axis=0)

coach_list_sh = coach_journey_sh['journeys']                                            
coach_duration_sh_list = []                                                         

for coach_option in coach_list_sh:                                               
    coach_duration = coach_option['duration']                                    
    int_coach_duration = int(coach_duration)                                      
    coach_duration_sh_list.append(int_coach_duration)                                

average_coach_duration = round(sum(coach_duration_sh_list) / len(coach_duration_sh_list))

coach_sh = pd.DataFrame([{'Mode':'Coach', 'ETA_Minutes':average_bus_duration, 'Origin':'Savoy Hotel', 'Origin_ll': '51.5101,0.1205', 'Destination': 'Tower Bridge', 'Destination_ll':"51.5055,0.0754"}])
data = pd.concat([data, coach_sh], axis=0)
location_2_df = pd.concat([location_2_df, coach_sh], axis=0)

In [240]:
data

In [255]:
data1 = data.sort_values('ETA_Minutes').groupby(['Origin', 'Destination']).apply(pd.DataFrame.head, n=1)

In [256]:
data1

,,,Origin,Origin_ll,Mode,ETA_Minutes,Destination,Destination_ll
Origin,Destination,,,,,,,
Heathrow Airport,Savoy Hotel,0,Heathrow Airport,"51.4700,0.4543",Tube,70,Savoy Hotel,"51.5101,0.1205"
Savoy Hotel,Tower Bridge,0,Savoy Hotel,"51.5101,0.1205",Tube,34,Tower Bridge,"51.5055,0.0754"

In [173]:
location_1_df.head()

,Origin,Origin_ll,Mode,ETA_Minutes_1,Destination_1,Destination_1_ll
0,Heathrow Airport,"51.4700,0.4543",Bus,149,Savoy Hotel,"51.5101,0.1205"
0,Heathrow Airport,"51.4700,0.4543",Tube,70,Savoy Hotel,"51.5101,0.1205"

In [174]:
location_2_df.columns = ['Destination_1', 'Destination_1_ll', 'Mode_2', 'ETA_Minutes_2', 'Destination_2', 'Destination_2_ll']
location_2_df = location_2_df.drop('Destination_1_ll', axis=1)

In [175]:
trip = pd.merge(location_1_df, location_2_df, on='Destination_1', how='outer')
trip.columns = ['Origin', 'Origin_ll', 'Mode_1', 'ETA_1', 'Destination_1', 'Destination_1_ll', 'Mode_2','ETA_2', 'Destination_2', 'Destination_2_ll']
trip

,Origin,Origin_ll,Mode_1,ETA_1,Destination_1,Destination_1_ll,Mode_2,ETA_2,Destination_2,Destination_2_ll
0,Heathrow Airport,"51.4700,0.4543",Bus,149,Savoy Hotel,"51.5101,0.1205",Bus,36,Tower Bridge,"51.5055,0.0754"
1,Heathrow Airport,"51.4700,0.4543",Bus,149,Savoy Hotel,"51.5101,0.1205",Tube,34,Tower Bridge,"51.5055,0.0754"
2,Heathrow Airport,"51.4700,0.4543",Bus,149,Savoy Hotel,"51.5101,0.1205",Walking,53,Tower Bridge,"51.5055,0.0754"
3,Heathrow Airport,"51.4700,0.4543",Bus,149,Savoy Hotel,"51.5101,0.1205",Coach,36,Tower Bridge,"51.5055,0.0754"
4,Heathrow Airport,"51.4700,0.4543",Tube,70,Savoy Hotel,"51.5101,0.1205",Bus,36,Tower Bridge,"51.5055,0.0754"
5,Heathrow Airport,"51.4700,0.4543",Tube,70,Savoy Hotel,"51.5101,0.1205",Tube,34,Tower Bridge,"51.5055,0.0754"
6,Heathrow Airport,"51.4700,0.4543",Tube,70,Savoy Hotel,"51.5101,0.1205",Walking,53,Tower Bridge,"51.5055,0.0754"
7,Heathrow Airport,"51.4700,0.4543",Tube,70,Savoy Hotel,"51.5101,0.1205",Coach,36,Tower Bridge,"51.5055,0.0754"

In [176]:
trip['Total_ETA'] = trip['ETA_1'] + trip['ETA_2']

In [177]:
trip.sort_values('Total_ETA', ascending=True)

,Origin,Origin_ll,Mode_1,ETA_1,Destination_1,Destination_1_ll,Mode_2,ETA_2,Destination_2,Destination_2_ll,Total_ETA
5,Heathrow Airport,"51.4700,0.4543",Tube,70,Savoy Hotel,"51.5101,0.1205",Tube,34,Tower Bridge,"51.5055,0.0754",104
4,Heathrow Airport,"51.4700,0.4543",Tube,70,Savoy Hotel,"51.5101,0.1205",Bus,36,Tower Bridge,"51.5055,0.0754",106
7,Heathrow Airport,"51.4700,0.4543",Tube,70,Savoy Hotel,"51.5101,0.1205",Coach,36,Tower Bridge,"51.5055,0.0754",106
6,Heathrow Airport,"51.4700,0.4543",Tube,70,Savoy Hotel,"51.5101,0.1205",Walking,53,Tower Bridge,"51.5055,0.0754",123
1,Heathrow Airport,"51.4700,0.4543",Bus,149,Savoy Hotel,"51.5101,0.1205",Tube,34,Tower Bridge,"51.5055,0.0754",183
0,Heathrow Airport,"51.4700,0.4543",Bus,149,Savoy Hotel,"51.5101,0.1205",Bus,36,Tower Bridge,"51.5055,0.0754",185
3,Heathrow Airport,"51.4700,0.4543",Bus,149,Savoy Hotel,"51.5101,0.1205",Coach,36,Tower Bridge,"51.5055,0.0754",185
2,Heathrow Airport,"51.4700,0.4543",Bus,149,Savoy Hotel,"51.5101,0.1205",Walking,53,Tower Bridge,"51.5055,0.0754",202